html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #1a0f2e, #0c0615);
  color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}
